html {
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body, input, select, textarea {
  font-size: 1.3rem;
  font-family: Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 3rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #c5d2ec;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: .6rem;
  font-size: 1.6rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: orange;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #d5d0e2;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
}